@import "variable.less";

html,
body,
#app {
  width:100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: "Microsoft YaHei", sans-serif !important;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}
div:focus,
input:focus {
  outline: none;
}
input {
  border: 1px solid #d9d9d9;
  border-radius: @borderRadius;
  padding: 4px;
}
input::-webkit-input-placeholder {
  color: @placehoderColor;
}
input:-moz-placeholder {
  color: @placehoderColor;
}
input::-moz-placeholder {
  color: @placehoderColor;
}
input:-ms-input-placeholder {
  color: @placehoderColor;
}