@import "global.less";

@navWidth: 317px;

.react-ui-index {
  width: 100%;
  height: 100%;
  .react-ui-head {
    height: 63px;
    box-shadow: 0 2px 8px #f0f1f2;
    padding: 0 40px;
  }
  .react-ui-head>div {
    width: 200px;
    height: 43px;
    font-size: 30px;
    position: absolute;
    top: 10px;
    bottom: 0;
    color: @hoveBoderColor;
  }
  .react-ui-index-container {
    //height: calc(100% - 63px);
    margin: 0 15px;
  }
  .react-ui-index-container >div {
    display: inline-block;
  }
  /**导航条**/
  .react-ui-index-nav {
    width: @navWidth;
    border-right: @border;
    height: 100%;
  }
  .react-ui-index-nav {
    ul {
      padding: 0;
    }
    li {
      height: 40px;
      margin: 4px 0 8px 0;
      padding: 0 16px 0 80px;
    }
    li:hover {
      color: @hoverColor;
    }
    a {
      display: block;
      height: 40px;
      text-decoration: none;
    }
  }
  /**导航条 end**/
  .react-ui-content {
    margin-left: 64px;
    vertical-align: top;
  }
  .react-ui-components {
    width: 870px;
    height: 68px;
    margin-top: 10px;
    padding: 24px;
    border: @border;
  }
  .react-ui-components-type {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
  }
  .react-ui-components-name {
    margin-bottom: 10px;
  }
  .react-ui-index-nav {
    ul {
      list-style-type:none;
    }
  }
}
