@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1546851676818'); /* IE9 */
  src: url('iconfont.eot?t=1546851676818#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKMAAsAAAAABkAAAAJAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApMYgE2AiQDCAsGAAQgBYRtBy4bhgXInpo8KRJiA4uGJjwTAFBEUD/223vvMJFo0bNoIjIkQqaTvHVKJTQt4d//WpsTrRcPGSSKatJ0YvN3/e+bHayZZY5SLBUIERqJR5PY7NXLjKx1n7h3+ldAgcwHlONetMagLqAuDqSA9sYoshLKuGHsApfwmEC7aT0ix2s7+5CWrFWBeLCMKqRzXilZolVorjmY4kWT1vJUPoHn8PvxbyjSFE2VVXJ2v9qAhe8/O6WeN87d+gQfAR1vQsUmkMRVbfRETDB2THs0bh7sqzD4vtHwLWKvRsH+Oiu/E0xC0T2J3ZUCFLitkQaA8VETiYGyj4MN1cwGmz+G6PlpxHhp7i6db7eu5W/tSWut24lxyr+v069erHscFlg/q4/Rc4HgzwKUe2Zu7UjwlYXQkPrZad2JLfgZ4p5dqUstc0lVXNtfDJykoV07GrCz389Y3dCZk6HV0Ah7i6kUVatFMlmbaNJhC81a7aHdhvXjHQawmMg2rLsBCL0+UHT7RNXri0zWN5oM+0ez3oih3U3kLuywHFZ2makq1MDaGVp17SvHKtmocJeMI7fKWWnIOSQOrQAO9g0UE+vkE8+xJTw2hkQUKtYeroHnyHU1BqxtqkufKRJM9ferujf11bUHWUcYqRKkAdWcQZY6zaf8wSJb+vwuYjjiquKWjprwIcJC1vhoUJ+BHuS6yu/VcS+vhI4ZhgihIIVpHrQG5hGXS0NB/TwbqRN9zBHhwJR+u5fqq+pbX+N93SFoZ+lL2JVV3ukTHwAAAA==') format('woff2'),
  url('iconfont.woff?t=1546851676818') format('woff'),
  url('iconfont.ttf?t=1546851676818') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1546851676818#iconfont') format('svg'); /* iOS 4.1- */
}

[class^=react-ui] {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.react-ui-down:before {
  content: "\e7eb";
}

